body {
  font-family:'Roboto', 'Helvetica Neue', 'Verdana', sans-serif;
  color:#434455;
  background-color:#FFFFFF;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  line-height: 2;
}
.menu-nav:hover,
.menu-nav:focus {
color:#404bbf;
}
.contacts:hover {
  color: #404bbf;
}
.order {
color: #4D5AE5;
}
.order:hover {
color: #404bbf;
}